@model LA_VENDUTA.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Login</h4>
<hr />

        <div>
            <p>
               Ya pertenece a nuestra tienda. Si todavia no ha comprado, revise, tenemos las mejores ofertas para nuestros primeros clientes. Registrese y se llevara los premios mas gordos.
            </p>
        </div>

